.services-achievement__rows {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-top: 20px;
}
.services-achievement__row {
	display: flex;
	justify-content: space-between;
}
.services-achievement__image {
	overflow: hidden;
}
.services-achievement__image img {
	transition: all 0.3s ease 0s;
	width: 100%;
}
.services-achievement__image img:hover {
	transform: scale(1.05);
}

.services-achievement__textblock {

}
.services-achievement__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	color: #333333;
	padding-bottom: 20px;
	padding-top: 97px;
	transition: all 0.3s ease 0s;
}
.services-achievement__text {
	font-size: 18px;
	line-height: 160%;
	color: #9C9C9C;
	max-width: 334px;
}
.services-achievement {
	padding-bottom: 100px;
}
@media (max-width: 940px){
	.services-achievement__row {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		gap: 40px;
	}
}
.service-product {
	padding-top: 0;
}